:root {
    --main-color: #7d0633;
}

* {
    font-family: 'Roboto Slab', serif;
}

article {
    padding-top: 20px;
}

.main-div {
    max-width: 1000px;
    min-width: 460px;
    width: 99%;
    min-height: 1000px;

    border: solid 5px var(--main-color);

    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

header {
    height: auto;
    background-color: var(--main-color);
}

.photo {
    margin-bottom: 5px;
    margin-right: 5px;
    max-height: 128px;
    max-width: 128px;
}

.main-info {
    flex-grow: 3;
    margin: 15px 25px;
}

.main-info h1 {
    white-space: nowrap;
}

.external-links {
    flex-grow: 1;
    margin: 0 25px;
    padding-top: 10px;
}

.external-links a {
    color: white;
}

.external-links li {
    font-size: 15px;
}


.fa-container {
    font-size: 1rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 0.125rem;
    background: white;
    color: var(--main-color);
}

.fab {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.header-info-navbar-container {
    flex-grow: 1;
}

.header-info {
    flex-grow: 1;
}

@media(max-width: 860px) {
    article {
        padding-top: 2px;
    }

    .link-text {
        display: none;
    }
    .photo {
        height: 128px;
        width: 128px;
    }
}

@media(max-width: 625px) {
    .main-info {
        margin: 10px 10px;
    }

    .main-info h1 {
        font-size: 25px;
    }

    .main-info h3 {
        font-size: 20px;
    }
}

@media(max-width: 500px) {

}

/* NAVBAR */
.navbar-container {
    margin-bottom: 5px;
    /* margin-right: 5px;
    margin-left: 5px; */
}

.nav-link {
    padding: 5px;
}

.nav-link:hover {
    background-color: var(--main-color);
}

/* MAIN CONTENT */
.main-content {
    margin: 50px;
}

.main-content h1 {
    color: var(--main-color);
}

.divider {
    background-color: var(--main-color);
    height: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.vertical-divider {
    background-color: var(--main-color);
    height: 33px;
    width: 5px;
    margin-right: 20px;
}

.div-item {
    margin-bottom: 20px;
}

.main-content p {
    color: black;
    font-size: 21px;
}